body
{
    background-color: lightgray;
}

#jumbotron_1
{
    background-color: transparent;
}

#login-panel-head
{
    font-weight: bolder;
}

#test
{
    color: blanchedalmond;
}

#warning-panel-cross:hover
{
    color: lightcoral;
    cursor: hand;
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out 0s;
}

.inpbx
{
    border-radius: 0px 0px 0px 0px;
}